/*------------------------------------------------------------------
[Table of contents]

 - Start page css

- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/


/* Colors */
.demopage-color{
	color: #03717c!important;
}
.demopage-color-hover:hover,
.demopage-color-hover:focus{
	color: #03717c!important;
}
.demopage-bg{
	background-color: #03717c!important;
}
.demopage-bg-hover:hover,
.demopage-bg-hover:focus{
	background-color: #03717c!important;
}
.demopage-border{
	border-color: #03717c!important;
}
.demopage-border-hover:hover,
.demopage-border-hover:focus{
	border-color: #03717c!important;
}


*{
	margin: 0;
	padding: 0;
}
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn.focus:active, 
.btn:active:focus, 
.btn:focus{
    outline: 0 none;
}
.sp-body{
	overflow: hidden;
}
a{
	-webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
a:focus{
	outline: 0 none;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
    list-style-type: none;
}
.paralax{
	background-attachment: fixed !important;
	background-position: 50% 100% !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
body{
	font-family: 'Sen', serif;
}
.demopage-header_title {
	color: #fff;
	float: left;
	font-size: 32px;
	font-weight: 700;
	/* letter-spacing: 6px; */
	line-height: 1.3em;
	margin: 0;
	padding-bottom: 45px;
	text-align: center;
	width: 100%;
}
.demopage-header {
	padding-top: 60px;
	height: auto;
	min-height: 240px;
}
.demopage-button{
	border-color: #ffffff;
	border-width: 2px;
	clear: both;
	color: #03717c;
	display: block;
	font-size: 18px;
	line-height: 100%;
	margin: auto;
	padding: 19px 0;
	text-align: center;
	width: 200px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: #fff;
}
.demopage-button:hover,
.demopage-button:focus{
	color: #fff;
}
.demopage-content{
	padding: 60px 0 0;
}
.demopage-title{
	font-size: 18px;
	font-weight: 700;
	line-height: 100%;
	text-align: center;
	width: 100%;
}
.demopage-preview {
  padding: 30px 35px 0;
}
.demopage-preview > div{
	padding-bottom: 70px;
}
.demopage-preview_item {
	border: 1px solid #eaeaea;
	box-shadow: 0 20px 50px -33px #000;
	display: block;
	height: 486px;
	margin: 0 auto;
	max-width: 440px;
	padding: 0;
}
.demopage-preview_inner{
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.demopage-preview_inner img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transition: all 4s ease 0s;
	-moz-transition: all 4s ease 0s;
	-o-transition: all 4s ease 0s;
	transition: all 4s ease 0s;
}
/*.demopage-preview_inner:hover img{
	top: -295px;
}*/
.demopage-preview h3{
	font-size: 16px;
	font-weight: 700;
	line-height: 100%;
	margin: 0;
	/*padding: 53px 0 29px;*/
	text-align: center;
	padding: 15px;
}
.demopage-button-additional{
	border-width: 2px;
	clear: both;
	color: #555;
	display: block;
	font-size: 14px;
	line-height: 100%;
	/*margin: 0;*/
	padding: 19px 0;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.demopage-button-additional:hover,
.demopage-button-additional:focus{
	color: #fff;
}
.demopage-buynow {
	/*border-top: 2px solid #bfdadd;*/
	padding: 70px 0;
	text-align: center;
	background: #fff;
}
#help {
	background: #fff;
}
.demopage-button-threed{
	border: 0 none;
	clear: both;
	color: #fff;
	font-size: 15px;
	line-height: 100%;
	margin: auto;
	padding: 17px 68px 19px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	transition:all 0.3s ease;
}
.demopage-button-threed:hover,
.demopage-button-threed:focus{
	color: #fff;
	padding: 17px 75px 19px;;
}
.font-weight-bold{
	font-weight: 700;
}
.demopage-helptitle{
	background-color: #f6f6f6;
	padding: 65px 0;
}
.demopage-helptitle h3{
	font-size: 17px;
	text-align: center;
	margin: 0;
}
ul.demopage-help_list{
	float: left;
	padding: 0 0;
	width: 100%;
}
ul.demopage-help_list li:first-child{
	border-left: 1px solid rgba(0,0,0,0.05);
}
ul.demopage-help_list li {
	border-right: 1px solid rgba(0,0,0,0.05);
	float: left;
	width: 50%;
}
ul.demopage-help_list li a{
	color: #333;
	float: left;
	font-size: 16px;
	line-height: 100%;
	padding: 55px 37px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}
ul.demopage-help_list li a i{
	font-size: 33px;
	margin: 0 15px 0 0;
	position: relative;
	top: 5px;
}
.demopage-footer {
	background-color: #fff;
	padding: 15px 0;
	color: #333;
}
.demopage-copyright {
	color: #333;
	float: left;
	font-size: 13px;
	line-height: 100%;
	text-align: center;
	width: 100%;
}
.demopage-copyright i{
	margin: 0 4px;
}
.footer_upper_cover {
  background-image: url("http://veepixel.com/tf/html/yawl/assets/media/ex_img/bike_bg_box_2.png");
  background-position: 210px -190px;
  background-repeat: no-repeat;
}
.demopage-helptitle {
  background-color: rgba(0, 0, 0, 0.08);
  background-position: center center;
  padding: 65px 0;
}
.demopage-preview_inner img {
	transition: all 0.3s ease;
}
.demopage-preview_inner:hover img {
	opacity: 0.4;
	transition: all 0.3s ease;
}
.demopage-preview_inner:hover .vd_btn{
	opacity: 1
}
.vd_btn {
	border: 1px solid #03717c;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 46px;
	width: 166px;
	background: #03717c;
	color: #fff;
	text-align: center;
	display: block;
	line-height: 46px;
	font-size: 17px;
	border-radius: 4px;
	transition: all 0.3s ease;
	opacity: 0;
}

.vd_btn:hover {
	box-shadow: 11px 11px 21px -6px rgba(0,0,0,0.3);
}

/*t edit*/

body .paralax {
  /*background-blend-mode: multiply;
  background-color: rgba(206, 0, 0, 0.9);
  background-position: 0 -178px!important;*/
  background-position: center center;
}
.demopage-content .demopage-title {
  font-size: 25px;
}



/*t edit end*/

.action_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 30px;
}


/*responsive*/

@media (max-width: 1199px){
	.demopage-preview{
		padding: 81px 40px 0;
	}
	ul.demopage-help_list{
		padding: 0;
	}
	ul.demopage-help_list li{
		width: 100%;
	}
	ul.demopage-help_list li a{
		width: 100%;
		text-align: center;
	}
	ul.demopage-help_list li{
		border-left: 1px solid #eee;
	}
	ul.demopage-help_list li:first-child{
		border-bottom: 1px solid #eee;
	}
}
@media (max-width: 991px){
	.demopage-preview{
		padding: 81px 0px 0;
	}
}